body { 
    background-color: black;
    color: white;
}
.top-head {
    position: absolute;
    top: 7ch;
    left: 112ch;
}

.left-face {
    position: absolute;
    left: 118ch;
    top: 13ch;
}

.right-face {
    position: absolute;
    left: 173ch;
    top: 19ch;
}

.chest {
    position: absolute;
    left: 97ch;
    top: 58ch;
}

.left-wing {
    position: absolute;
    left: 0ch;
    top: 0ch;
}