body { 
    background-color: black;
}

.owl { 
    background-image: url('../../pngs/Owl.png');
    background-repeat: no-repeat;
    height: 100vh;
    mix-blend-mode: multiply;
    z-index: 100;
}
.owl-cont {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}


.left-face {
    position: absolute;
    left: 118ch;
    top: 13ch;
    z-index: -100;
}

.left-face svg path  {
    animation: write-words 4s ease-in forwards;
    fill: black;
    stroke: white;
    stroke-width: .7px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}


@for $i from 1 through 100 {
    .left-face svg path:nth-child(#{$i}) {
        animation-delay: (#{$i*1.5s});
    }
}


.right-face {
    position: absolute;
    left: 173ch;
    top: 19ch;
    z-index: -100;
}

.right-face svg path  {
    animation: write-words 4s ease-in forwards;
    fill: black;
    stroke: white;
    stroke-width: .7px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}

@for $i from 1 through 100 {
    .right-face svg path:nth-child(#{$i}) {
        animation-delay: (#{$i*1.5s});
    }
}

.chest {
    position: absolute;
    left: 97ch;
    top: 7ch;
    z-index: -100;

}

.chest svg path  {
    animation: write-words 4s ease-in forwards;
    fill: black;
    stroke: white;
    stroke-width: .7px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}


@for $i from 1 through 100 {
    .chest svg path:nth-child(#{$i}) {
        animation-delay: (#{$i*1.5s});
    }
}

.left-wing {
    position: absolute;
    left: 0ch;
    top: 0ch;
    background-size: 100vw 100vh; 
    z-index: -100;
}

.left-wing svg path  {
    animation: write-words 4s ease-in forwards;
    fill: black;
    filter: blur(1px);
    stroke: white;
    stroke-width: .7px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}


@for $i from 1 through 100 {
    .left-wing svg path:nth-child(#{$i}) {
        animation-delay: (#{$i*1.5s});
    }
}

.right-wing {
    position: absolute;
    left: 212ch;
    top: 0ch;
    z-index: -100;
}

.right-wing svg g path {
    animation: write-words 4s ease-in forwards;
    fill: black;
    filter: blur(1px);
    stroke: white;
    stroke-width: .7px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}

@for $i from 1 through 100 {
    .right-wing svg g path:nth-child(#{$i}) {
        animation-delay: (#{$i*1.5s});
    }
}

@keyframes write-words {
    to {
         stroke-dashoffset: 0;
         fill: white;
         stroke-width: 0px;
        }
}
// .left-effect {
//     animation: effect-left 5s cubic-bezier(0, 0, 0.2, 1) infinite;
//     background:linear-gradient(90deg, rgba(0,255,244,0) 0%, rgba(0,0,0,1) 40%); 
//     background-size: 400% 400%;
//     z-index: 100;
//     height: 100vh;
//     width: 31vw; 
//     position: absolute;
//     top:0;
//     left:0;
// }

/* @keyframes effect-left {
    0%{background-position:100% }
    100%{background-position:0%;}
} */